<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>AAA</string>
			<key>value</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>BBB</string>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>CCC</string>
			<key>value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>DDD</string>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>EEE</string>
			<key>value</key>
			<integer>40</integer>
		</dict>
	</array>
</dict>
</plist>
