<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x_labels</key>
	<array>
		<integer>2006</integer>
		<integer>2007</integer>
		<integer>2008</integer>
		<integer>2009</integer>
		<integer>2010</integer>
		<integer>2011</integer>
	</array>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>AAA</string>
			<key>data</key>
			<array>
				<integer>1</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>69</integer>
				<integer>70</integer>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>BBB</string>
			<key>data</key>
			<array>
				<integer>25</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>22</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>CCC</string>
			<key>data</key>
			<array>
				<integer>40</integer>
				<integer>55</integer>
				<integer>56</integer>
				<integer>66</integer>
				<integer>70</integer>
				<integer>70</integer>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>DDD</string>
			<key>data</key>
			<array>
				<integer>46</integer>
				<integer>89</integer>
				<integer>90</integer>
				<integer>85</integer>
				<integer>90</integer>
				<integer>95</integer>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>EEE</string>
			<key>data</key>
			<array>
				<integer>66</integer>
				<integer>77</integer>
				<integer>55</integer>
				<integer>33</integer>
				<integer>50</integer>
				<integer>46</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
